.container {
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.navbar-container {
  position: relative;
  z-index: 10;
}

.navbar {
  left: 0;
  position: absolute;
  right: 0;
  top: 1.8rem;
}

.primary-navigation {
  align-items: center;
  display: flex;
  height: 68px;
}

.menu-hamburguer {
  display: none;
}

.secondary-navigation {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  right: 4%;
  top: 0;
}

.navbar-title {
  font-size: 32px;
  font-weight: 700;
  margin-right: 25px;
  margin: 0;
}

.navbar-menu {
  align-items: center;
  display: flex;
  padding-left: 3.5rem;
}

.navbar-item:not(:first-child) {
  margin-left: 47px;
}

.navbar-search {
  cursor: pointer;
  margin-right: 50px;
}

.navbar-item.is-active {
  border-bottom: 4px solid #fed530;
  font-weight: 700;
}

.navbar-avatar {
  border-radius: 50%;
  height: 48px;
  margin-right: 16px;
  width: 48px;
}

.navbar-username {
  color: #fff;
  font-weight: 700;
}

.hero-section {
  padding-bottom: 13rem;
  padding-top: 13rem;
}

.hero-image {
  height: 1130px;
  min-width: 854px;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
}

.hero-image::before {
  background: linear-gradient(270deg, #000000 6%, rgba(24, 24, 24, 0) 100%);
  bottom: 0;
  content: "";
  height: 1130px;
  left: 0;
  position: absolute;
  top: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 500px;
  z-index: 5;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 800px;
}

.hero-content {
  z-index: 9;
}

.hero-content h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-content p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.hero-rating {
  color: #fed530;
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.hero-content p:first-of-type {
  margin-bottom: 2rem;
  width: 400px;
}

.hero-content p:last-of-type {
  margin-bottom: 3.2rem;
}

.hero-content button {
  background-color: #fed530;
  border-radius: 45px;
  color: #2e2e2e;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 6rem;
}

.hero-image img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1130px;
  min-width: 854px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.trailers-section {
  position: relative;
  z-index: 9;
}

.trailers-section {
  padding-bottom: 12rem;
}

.trailers-section h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: -10rem;
}

.trailers {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.trailer {
  position: relative;
}

.trailer::before {
  background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, #171717 100%);
  bottom: 0;
  bottom: 0;
  content: "";
  height: 50%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  width: 100%;
}

.trailer img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.trailer-content {
  bottom: -0.6rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  right: 1rem;
}

.movie-section {
  padding-bottom: 12rem;
}

.movie-headings {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.movie-title {
  color: #fff;
  font-size: 3rem;
}

.movie-subtitle {
  color: #fed530;
  font-size: 2rem;
  font-weight: 700;
}

.grid-movie {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}

.movie-item {
  position: relative;
}

.movie-item::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  content: "";
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}

.movie-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.movie-item:nth-child(1) {
  grid-column: 1 / 3;
}

.movie-item:nth-child(2) {
  grid-column: 3 / 4;
}

.movie-genre {
  background-color: #fed530;
  border-radius: 1rem;
  color: #2e2e2e;
  font-size: 0.9rem;
  left: 2rem;
  padding: 0.2rem 1.2rem;
  position: absolute;
  top: 1.9rem;
}

.movie-time {
  align-items: center;
  bottom: 7rem;
  display: flex;
  left: 2rem;
  position: absolute;
}

.movie-time span {
  color: #ccc;
  font-size: 0.8rem;
  margin-left: 0.8rem;
}

.movie-name {
  bottom: 4rem;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  left: 2rem;
  position: absolute;
}

.section-footer {
  color: #fff;
  column-gap: 10rem;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4rem;
}

.footer-item:first-of-type {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.footer-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.footer-paragraph {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.footer-form {
  display: inline-block;
  position: relative;
}

.footer-input {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #464646;
  color: #aaaab6;
  font-size: 1rem;
  padding: 1.5rem 4.5rem 1.5rem 1rem;
}

.footer-button {
  background-color: #fed530;
  bottom: 0.4rem;
  padding: 0rem 1rem;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
}

.footer-links {
  max-width: 860px;
}

.footer-links > div {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-links h4 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.footer-links li {
  margin-bottom: 1.5rem;
}

.footer-item:nth-of-type(3) {
  align-items: center;
  column-gap: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 860px;
}

.footer-item:nth-of-type(3) > address,
.footer-item:nth-of-type(3) > a {
  align-items: center;
  display: flex;
}

.footer-item:nth-of-type(3) > address svg,
.footer-item:nth-of-type(3) > a svg {
  margin-right: 0.8rem;
}

@media screen and (max-width: 920px) {
  .navbar {
    align-items: center;
    display: flex;
    height: 68px;
  }

  .menu-hamburguer {
    align-items: center;
    background-color: transparent;
    border: 0;
    display: flex;
    font-size: initial;
    outline: 0;
    padding: 0.4rem;
    transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .menu-hamburguer:focus {
    outline: none;
  }

  .menu-hamburguer:hover {
    background-color: #686868;
  }

  .menu-hamburguer svg {
    fill: #fff;
  }

  .primary-navigation {
    align-items: center;
    background-color: #171717;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    left: 0;
    padding: 2rem;
    position: fixed;
    row-gap: 3rem;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 999;
  }

  .close-menu {
    background-color: rgba(255, 255, 255, 0.32);
    border: 0;
    outline: 0;
    padding: 0.4rem;
    font-size: initial;
    position: absolute;
    right: 3rem;
    top: 3rem;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .close-menu:focus {
    border: 0;
    outline: 0;
  }

  .close-menu svg {
    fill: #fff;
  }

  .primary-navigation.isActive {
    transform: translateX(0);
    z-index: 10;
  }

  .navbar-menu {
    flex-direction: column;
    padding-left: 0;
  }

  .navbar-item {
    margin-bottom: 1rem;
  }

  .navbar-item:not(:first-child) {
    margin-left: 0;
  }

  .movie-genre {
    font-size: 0.9rem;
    padding: 0.1rem 1rem;
  }

  .movie-time {
    bottom: 6rem;
  }

  .movie-name {
    bottom: 3rem;
    font-size: 1.8rem;
  }

  .section-footer {
    column-gap: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 48px;
  }

  .hero-image {
    left: 0;
  }
  .hero-content button {
    font-size: 1.2rem;
    padding: 1.2rem 4rem;
  }

  .movie-title {
    font-size: 2rem;
  }
  .movie-subtitle {
    font-size: 1.5rem;
  }

  .section-footer {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .footer-title {
    font-size: 3rem;
  }

  .footer-item {
    text-align: center;
  }

  .footer-item:nth-of-type(3) {
    justify-content: center;
  }

  .footer-item:nth-of-type(3) > address,
  .footer-item:nth-of-type(3) > a {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 680px) {
  .trailers-section {
    padding-bottom: 8rem;
  }

  .trailers {
    row-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-movie {
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 2rem;
  }

  .movie-item:nth-child(1) {
    grid-column: auto;
  }

  .movie-item:nth-child(2) {
    grid-column: auto;
  }
}

@media screen and (max-width: 580px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .hero-content p:first-of-type {
    width: auto;
  }
  .trailers-section {
    padding-bottom: 8rem;
  }

  .trailers {
    row-gap: 1.5rem;
    grid-template-columns: 1fr;
  }
}
